*.iml
/dist/
*.class
*.swp
*.log
/tmp/*
/modules/*
/samples-and-tests/demo/modules/*
/samples-and-tests/demo/tmp/*
/samples-and-tests/demo/modules/*
/samples-and-tests/demo/tmp/*
/samples-and-tests/demo/logs/*
/samples-and-tests/demo/data
/samples-and-tests/demo/db
/samples-and-tests/demo/demo.ipr
/samples-and-tests/demo/test-result
/.idea
